.related-products {
    margin-top: 20px;
}

.products {
    display: flex;
    gap: 10px;
}

.product-card {
    border: 1px solid #f1f1f1;
    padding: 10px;
    text-align: center;
}

.product-card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
